.table-row-cell {
    -fx-cell-size: 35px;
}

.label{
    -fx-font-size: 25;
}

#base-element{
    -fx-faint-focus-color: transparent;
    -fx-border-color: rgba(0, 157, 22, 0.76); /* here rgba (corrected) */
    -fx-border-width: 3px;
}